/*----------------------------BODY------------------------------*/
body {
	margin: auto;
	width: 1835px;
}


a {
	text-decoration: none;
	color: black;
}


/*--------------------------HEADER-----------------------------*/

header {
	padding : 10px;
	position: fixed;
}



#img_recherche {
	margin-left: 20px;
	width: 15px;
	height:25px;
}

.lienConnexion  {
	margin-left: 540px ;
	margin-right: 50px;
}



/*--------------------------NAV------------------------------*/

nav {
	padding : 10px;
}

nav a {
	padding-left: 20px;
}

#moteurDeRecherche {
	margin-left: 10px;
	margin-bottom: 20px;

}

#lienSite {
	margin: auto;
}

#connexion {
	padding-left: 15px;
}

#nav_dropdown {
	padding-left: 100px;
}

/*-------------------------CLASSEMENT----------------------------*/

#classement {
	width: 15%;
	border: solid;
	border-radius: 30px;
	display:inline-block;
	margin-left: 50px;
	  /*
	  position: fixed; /* Fixed Sidebar (stay in place on scroll) 
	  
	  left: 0;
	  overflow-x: hidden;  Disable horizontal scroll */
	padding-top: 20px;
}

/*-------------------------MAIN----------------------------------*/

main {
	padding-top: 100px;
}

/*------------------------SECTION--------------------------*/
#section_Quizz {
	display: inline-block;
	margin-left: 150px;
}

quizz {
	border: solid;
	display: inline-block;
	vertical-align:top;
	width: 38%;
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 30px;
	padding: 20px;
	padding-bottom: 50px;
	padding-right: 120px;
	width: 300px;
}

#Quizz_joueur a {
	margin-left: 50px;

}

#Quizz_theme_X a {
	margin-left: 50px;
}

#Quizz_film a {
	margin-left: 50px;
}

#Quizz_serie a {
	margin-left: 50px;
}

#Quizz_culture_g a {
	margin-left: 50px;
}

#Quizz_japanimation a {
	margin-left: 50px;
}

#Quizz_joueur {
	margin-top: 20px;
}